version: 3

tasks:
  dev:
    desc: "Run the server in development mode"
    deps: [":build:bin"]
    cmds:
      - |
        SSHDEV_USERNAME=test SSHDEV_PASSWORD=test ./data/cli/sshdev run --listen=":2222" --host-key="./host_key" --auth-mode="password"

  noauth:
    desc: "Run with no auth (for testing)"
    deps: [":build:bin"]
    cmds:
      - ./data/cli/sshdev run --auth-mode="none"

  local:
    desc: "Run with local configuration"
    deps: [":build:bin"]
    cmds:
      - ./data/cli/sshdev run